/* CHECKERBOARD STRUCTURE : */

#checkerboard{
  background-color: lightgray;
  border-radius: 8px;
  height: calc(100vh - 55px);
  /*display: flex;*/
  align-items: center;
  justify-content: center;
}

table {
  height: 70%;
  width: 90%;
  margin: 10px auto
}

tbody{
  margin: 8px;
  padding: 8px;
}

/* CHECKERBOARD INFO BOXES */

.box {
  background: white;
  border-radius: 5px;
  margin: 10px auto;
  height: 50px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  width: 90%;
}

#top_box{
  border: 2px solid gray;
  padding: 10px;
}

#bottom-box {
  padding: 10px 40px;
  text-align: center;
}

/* Animating the bottom-box when there is a winner : */

.red_border {
  border : 3px solid #e42e61;
}

.yellow_border {
  border : 3px solid #f2dd3c;  
}


/* CHECKERBOARD DOTS : */

/* Standard dot */
.dot {
  border-radius: 50%;
  width: 30px;
  height: 30px;
  margin: auto;
}

.red{
    background-color: #e42e61    
}

.yellow{
    background-color: #f2dd3c;
}

.empty {
  background-color: white;
}

/* Dots on the board with the 2 players : */
.header-dot {
  border-radius: 50%;
  width: 30px;
  height: 30px;
  margin: auto;
}

/* Dots sliding down from the top : */
@-webkit-keyframes slideInDown {
  from {
    -webkit-transform: translate3d(0, -1000%, 0);
    transform: translate3d(0, -1000%, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes slideInDown {
  from {
    -webkit-transform: translate3d(0, -1000%, 0);
    transform: translate3d(0, -1000%, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.slideInDown {
  -webkit-animation-name: slideInDown;
  animation-name: slideInDown;
  animation-duration: 2s;
}

@keyframes blink {
  from {filter: brightness(35%);}
  to {}
}

.blinking-dot {
  animation-name: blink;
  animation-duration: 0.3s;
  animation-iteration-count: 15;
}

/* Animating dots when there is a winner : */
.winning-dot {
  animation-name: blink !important;
  animation-duration: 0.2s !important;
  animation-iteration-count: infinite !important;
}



